<div class="container">
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3><span class="fa fa-wrench"></span> Choisir son service</h3>
      <select (change)="onSelectService($event)" class="form-control">
        <option>-- Choisissez un service --</option>
        <option *ngFor="let item of services" [value]="item.id">
          {{ item.nom }}, durée : {{ item.delai }} mn, prix : {{ item.prix }}
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <div *ngIf="sucessMessageChoixEmploye" class="sucess-message">
        {{ sucessMessageChoixEmploye }}
      </div>
      <h3><span class="fa fa-user"></span> Choisir un employé</h3>
      <select (change)="onSelectEmp($event)" class="form-control">
        <option>Choisissez une personne</option>
        <option *ngFor="let emp of employes" [value]="emp.id">
          {{ emp.nom }} {{ emp.prenom }}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input
        type="text"
        id="dtp"
        class="form-control"
        (ngModelChange)="onDateChange($event)"
        placeholder="Sélectionner une date"
      />
      <button (click)="onSubmitRdv()" class="btn btn-primary">
        <span class="fa fa-check"></span> Valider
      </button>
    </div>
    <div class="col-md-6">
      <button (click)="onAdd()" class="btn btn-primary">
        <span class="fa fa-plus"></span> Ajouter Rdv
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Service</th>
            <th scope="col">Date début</th>
            <th scope="col">Date fin</th>
            <th scope="col">Réduction</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let offre of offresSpec; index as i">
            <tr>
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ getServiceName(offre.idService) }}</td>
              <td>{{ offre.dateDebut }}</td>
              <td>{{ offre.dateFin }}</td>
              <td>{{ offre.reduction }} %</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1><span class="fa fa-calendar"></span> Historique</h1>
      <full-calendar
        [options]="calendarOptions"
        [deepChangeDetection]="true"
      ></full-calendar>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="loader-overlay">
  <div class="loader"></div>
</div>
