<div class="card">
  <div class="logo-container">
    <img
      src="https://cdn-icons-png.flaticon.com/512/2111/2111234.png"
      alt="Logo"
      class="logo"
    />
  </div>
  <h1>Connexion {{ dynamicText }}</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <img
        src="https://cdn-icons-png.flaticon.com/512/561/561127.png"
        alt="Icône Email"
        class="icon"
      />
      <input
        type="email"
        [value]="email"
        formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        placeholder="Adresse e-mail"
        required
      />
      <div class="invalid" *ngIf="submitted && f['email'].errors">
        <div *ngIf="f['email'].errors['required']">
          L'adresse e-mail est obligatoire
        </div>
        <div *ngIf="f['email'].errors['email']">
          L'adresse e-mail est invalide
        </div>
      </div>
    </div>
    <div class="form-group">
      <img
        src="https://cdn-icons-png.flaticon.com/512/1077/1077063.png"
        alt="Icône Mot de passe"
        class="icon"
      />
      <input
        type="password"
        [value]="password"
        formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        placeholder="Mot de passe"
        required
      />
      <div class="invalid" *ngIf="submitted && f['password'].errors">
        <div *ngIf="f['password'].errors['required']">
          Le mot de passe est obligatoire
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit">
        <span *ngIf="!loading">Connexion</span>
        <span *ngIf="loading" class="loader"></span>
      </button>
      <div class="error-message" *ngIf="submitted && error">{{ error }}</div>
    </div>
    <div class="register-link">
      <p><a routerLink="/register">Inscription</a></p>
    </div>
  </form>
</div>
<div class="register-link">
  <div class="register-options">
    <a routerLink="/loginEmploye" class="button-link"
      ><button type="button">Employé</button></a
    >
    <a routerLink="/" class="button-link"
      ><button type="button">Client</button></a
    >
    <a routerLink="/loginAdmin" class="button-link"
      ><button type="button">Administrateur</button></a
    >
  </div>
</div>
