<div class="card">
  <div class="logo-container">
    <img
      src="https://cdn-icons-png.flaticon.com/512/2111/2111234.png"
      alt="Logo"
      class="logo"
    />
  </div>
  <h1>Login {{ dynamicText }}</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <img
        src="https://cdn-icons-png.flaticon.com/512/561/561127.png"
        alt="Email Icon"
        class="icon"
      />
      <input
        type="email"
        formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        placeholder="Username"
        required
      />
      <div class="invalid-feedback" *ngIf="submitted && f['email'].errors">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
      </div>
    </div>
    <div class="form-group">
      <img
        src="https://cdn-icons-png.flaticon.com/512/1077/1077063.png"
        alt="Password Icon"
        class="icon"
      />
      <input
        type="password"
        formControlName="password"
        [ngClass]="{ 'is-invalid': f['password'].errors }"
        placeholder="Password"
        required
      />
      <div class="invalid-feedback" *ngIf="submitted && f['password'].errors">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit">Login</button>
      <div class="error-message" *ngIf="submitted && error">{{ error }}</div>
    </div>
    <div class="register-link">
      <p><a routerLink="/register">Inscription</a></p>
    </div>
  </form>
</div>
<div class="register-link">
  <div class="register-options">
    <a routerLink="/loginEmploye" class="button-link"
      ><button type="button">Employé</button></a
    >
    <a routerLink="/" class="button-link"
      ><button type="button">Client</button></a
    >
    <a routerLink="/loginAdmin" class="button-link"
      ><button type="button">Administrateur</button></a
    >
  </div>
</div>
