<!-- <div class="container">
  <h1>Ajouter une indisponibilité</h1>
  <div class="form-group">
    <p>Sélectionnez les dates et heures d'indisponibilité :</p>
    <div class="form-group">
      <label>Date et heure de début : </label>
      <input
        type="datetime-local"
        class="form-control"
        [(ngModel)]="data.startDateTime"
      />
    </div>
    <div class="form-group">
      <label>Date et heure de fin : </label>
      <input
        type="datetime-local"
        class="form-control"
        [(ngModel)]="data.endDateTime"
      />
    </div>
  </div>
  <div>
    <button class="btn btn-primary" (click)="onCancelClick()">Annuler</button>
    <button class="btn btn-success" (click)="onSaveClick()">Enregistrer</button>
  </div>
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
</div> -->
