<!-- user-edit-modal.component.html -->
<form (ngSubmit)="updateUser()" class="container">
  <h2 class="mt-4 mb-4">Modifier l'utilisateur</h2>
  <div class="form-group">
    <label for="nom">Nom : </label>
    <input
      type="text"
      class="form-control"
      id="nom"
      [(ngModel)]="editedUser.nom"
      name="nom"
      required
    />
  </div>

  <div class="form-group">
    <label for="prenom">Prénom : </label>
    <input
      type="text"
      class="form-control"
      id="prenom"
      [(ngModel)]="editedUser.prenom"
      name="prenom"
      required
    />
  </div>

  <div class="form-group">
    <label for="mail">Email : </label>
    <input
      type="email"
      class="form-control"
      id="mail"
      [(ngModel)]="editedUser.mail"
      name="mail"
      required
    />
  </div>

  <div class="form-group">
    <label for="mdp">Mot de passe : </label>
    <input
      type="password"
      class="form-control"
      id="mdp"
      [(ngModel)]="editedUser.mdp"
      name="mdp"
      required
      minlength="8"
    />
  </div>

  <!-- <div class="form-group">
    <label>Rôle :</label><br />
    <label class="radio-inline">
      <input
        type="radio"
        [(ngModel)]="editedUser.role"
        name="role"
        [value]="10"
        class="form-check-input"
        [checked]="editedUser.role === 10"
      />
      Client
    </label>
    <label class="radio-inline">
      <input
        type="radio"
        [(ngModel)]="editedUser.role"
        name="role"
        [value]="20"
        class="form-check-input"
        [checked]="editedUser.role === 20"
      />
      Employé
    </label>
    <label class="radio-inline">
      <input
        type="radio"
        [(ngModel)]="editedUser.role"
        name="role"
        [value]="30"
        class="form-check-input"
        [checked]="editedUser.role === 30"
      />
      Manager
    </label> -->
  <!-- <label class="radio-inline">
      <input
        type="radio"
        [(ngModel)]="editedUser.role"
        name="role"
        [value]="1"
        class="form-check-input"
        [checked]="
          editedUser.role !== 10 &&
          editedUser.role !== 20 &&
          editedUser.role !== 30
        "
        required
      />
      Rien
    </label> -->
  <!-- </div> -->

  <button type="submit" class="btn btn-primary mt-3 mb-4 mr-1">Modifier</button>
  <button (click)="onClose()" class="btn btn-danger mt-3 mb-4">Fermé</button>
</form>
