<mat-tab-group class="tab-container" animationDuration="0ms">
  <mat-tab label="Temps moyen de travail">
    <ng-template matTabContent>
      <div class="tab-content">
        <h4>Statistiques sur le temps moyen de travail</h4>
        <div class="filter-container row">
          <!-- Premier élément avec la classe "col-md-6" pour occuper la moitié de la largeur -->
          <div class="col-md-6">
            <label for="annee">Filtrer par année :</label>
            <select
              class="custom-select"
              id="annee"
              [(ngModel)]="selectedYear"
              (change)="filtrerParAnneeTempsMoyen()"
            >
              <option *ngFor="let annee of annees" [value]="annee">
                {{ annee }}
              </option>
            </select>
          </div>
          <!-- Deuxième élément avec la classe "col-md-6" pour occuper l'autre moitié de la largeur -->
          <div class="col-md-6">
            <label for="employe">Filtrer par employé :</label>
            <select
              class="custom-select"
              id="employe"
              [(ngModel)]="selectedEmployee"
              (change)="filtrerParEmploye()"
            >
              <option [value]="undefined">Tous</option>
              <option *ngFor="let employe of employes" [value]="employe.id">
                {{ employe.nom }}
              </option>
            </select>
          </div>
        </div>

        <div id="chart">
          <apx-chart
            #chartTempsMoyen
            [series]="charttempsmoyen.series!"
            [chart]="charttempsmoyen.chart!"
            [dataLabels]="charttempsmoyen.dataLabels!"
            [plotOptions]="charttempsmoyen.plotOptions!"
            [yaxis]="charttempsmoyen.yaxis!"
            [legend]="charttempsmoyen.legend!"
            [fill]="charttempsmoyen.fill!"
            [stroke]="charttempsmoyen.stroke!"
            [tooltip]="charttempsmoyen.tooltip!"
            [xaxis]="charttempsmoyen.xaxis!"
          ></apx-chart>
        </div>
        <table class="styled-table">
          <thead>
            <tr>
              <th>Employé</th>
              <th *ngFor="let mois of mois">{{ mois }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employe of statistiques">
              <td>{{ employe.nomEmploye }}</td>
              <td *ngFor="let temps of employe.tempsMoyenParMois">
                {{ temps }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Nombre de réservation">
    <ng-template matTabContent>
      <div class="container">
        <!-- Utilisation d'une rangée Bootstrap pour aligner les éléments horizontalement -->
        <div class="row">
          <div class="col-md-6">
            <!-- Utilisation de "col-md-6" pour occuper la moitié de la largeur sur les écrans moyens et plus grands -->
            <h4 class="mt-3">Statistiques sur le nombre de réservations</h4>
            <div class="row">
              <!-- Utilisation de la classe "mb-3" pour ajouter une marge inférieure -->
              <label for="annee">Filtrer par année :</label>
              <select
                class="custom-select"
                id="annee"
                [(ngModel)]="selectedYear_reservation"
                (change)="filtrerParAnneeReservation()"
              >
                <option *ngFor="let annee of annees" [value]="annee">
                  {{ annee }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-12">
          <!-- Utilisation de "col-md-6 col-12" pour occuper la moitié de la largeur sur les écrans moyens et plus grands, et toute la largeur sur les écrans plus petits -->
          <div id="chart">
            <apx-chart
              #chartNbReservation
              [series]="chartnbreservation.series!"
              [chart]="chartnbreservation.chart!"
              [dataLabels]="chartnbreservation.dataLabels!"
              [plotOptions]="chartnbreservation.plotOptions!"
              [xaxis]="chartnbreservation.xaxis!"
            ></apx-chart>
          </div>
        </div>

        <mat-accordion class="mt-3">
          <!-- Utilisation de la classe "mt-3" pour ajouter une marge supérieure -->
          <mat-expansion-panel *ngFor="let mois of mois">
            <mat-expansion-panel-header (click)="afficherDetails(mois)">
              <mat-panel-title>{{ mois }}</mat-panel-title>
              <mat-panel-description>
                Total: {{ reservations?.[mois]?.total || 0 }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table class="styled-table" *ngIf="moisSelectionne === mois">
              <thead>
                <tr>
                  <th>Jour</th>
                  <th>Réservations</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let jour of reservations[mois]?.jours">
                  <td>{{ jour?.jour }}</td>
                  <td>{{ jour?.reservations || 0 }}</td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Chiffre d'affaire">
    <ng-template matTabContent>
      <div class="tab-content">
        <h4>Statistiques sur le chiffre d'affaire</h4>
        <div class="row">
          <div class="col-md-6">
            <!-- Utilisation de "col-12" pour occuper toute la largeur de la ligne sur tous les écrans -->
            <label for="annee">Filtrer par année :</label>
            <select
              class="custom-select"
              id="annee"
              [(ngModel)]="selectedYear_chiffreaffaire"
              (change)="filtrerParAnneeChiffreAffaire()"
            >
              <option *ngFor="let annee of annees" [value]="annee">
                {{ annee }}
              </option>
            </select>
          </div>
        </div>

        <div id="chart">
          <apx-chart
            [series]="chartChiffreAffaire.series!"
            [chart]="chartChiffreAffaire.chart!"
            [dataLabels]="chartChiffreAffaire.dataLabels!"
            [plotOptions]="chartChiffreAffaire.plotOptions!"
            [yaxis]="chartChiffreAffaire.yaxis!"
            [xaxis]="chartChiffreAffaire.xaxis!"
            [fill]="chartChiffreAffaire.fill!"
            [title]="chartChiffreAffaire.title!"
          ></apx-chart>
        </div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let mois of mois">
            <mat-expansion-panel-header (click)="afficherDetailsCA(mois)">
              <mat-panel-title>
                {{ mois }}
              </mat-panel-title>
              <mat-panel-description>
                Total: {{ chiffre_affaires?.[mois]?.total || 0 }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table class="styled-table" *ngIf="mois_chiffre_affaire === mois">
              <thead>
                <tr>
                  <th>Jour</th>
                  <th>Chiffre d'affaire</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let jour of chiffre_affaires?.[mois]?.jours">
                  <td>{{ jour?.jour || 0 }}</td>
                  <td>{{ jour?.chiffre_affaires || 0 }}</td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Bénéfice">
    <ng-template matTabContent>
      <div class="tab-content">
        <h2>Statistiques sur le bénéfice</h2>
        <div class="row">
          <div class="col-md-6">
            <!-- Utilisation de "col-12" pour occuper toute la largeur de la ligne sur tous les écrans -->
            <label for="annee">Filtrer par année :</label>
            <select
              class="custom-select"
              id="annee"
              [(ngModel)]="selectedYear_benefice"
              (change)="filtrerParAnneeBenefice()"
            >
              <option *ngFor="let annee of annees" [value]="annee">
                {{ annee }}
              </option>
            </select>
          </div>
        </div>

        <div id="chart">
          <apx-chart
            [series]="chartBenefice.series!"
            [chart]="chartBenefice.chart!"
            [dataLabels]="chartBenefice.dataLabels!"
            [plotOptions]="chartBenefice.plotOptions!"
            [yaxis]="chartBenefice.yaxis!"
            [xaxis]="chartBenefice.xaxis!"
            [legend]="chartBenefice.legend!"
            [colors]="chartBenefice.colors!"
            [grid]="chartBenefice.grid!"
          ></apx-chart>
        </div>

        <table class="styled-table">
          <thead>
            <tr>
              <th>Mois</th>
              <th>Bénéfice</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mois of mois">
              <td>{{ mois }}</td>
              <td
                *ngIf="benefice"
                [class.negative]="benefice[mois] < 0"
                [class.positive]="benefice[mois] >= 0"
              >
                {{ benefice[mois] }} Ariary
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
