#btn-indisponibilite {
    display: inline-block;
    padding: 10px 20px; /* Ajustez selon vos besoins */
    font-size: 16px; /* Ajustez selon vos besoins */
    font-weight: bold; /* Ajustez selon vos besoins */
    text-align: center;
    text-decoration: none;
    color: #ffffff; /* Couleur du texte */
    background-color: #5ce1e6; /* Couleur de fond */
    border: none;
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition en douceur au survol */
    width: 20em;
    margin-bottom: 1em;
  }
  
  #btn-indisponibilite:hover {
    background-color: #f55847; /* Couleur de fond au survol */
  }
  
  /* Style de l'icône à côté du texte */
  #btn-indisponibilite .fa {
    margin-right: 5px; /* Marge à droite de l'icône */
  }
  
  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    z-index: 9999; /* Pour s'assurer que le loader est au-dessus de tout le contenu */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    width: 80px; /* Largeur du loader */
    height: 80px; /* Hauteur du loader */
    border-radius: 50%; /* Forme ronde */
    border: 8px solid transparent; /* Bordure transparente */
    border-top-color: #3498db; /* Couleur de la bordure sur le dessus pour l'effet de rotation */
    animation: spin 1s linear infinite; /* Animation de rotation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
