<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Beaute Space</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="https://kanteco.com/M1/assets/css/style.css" />
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar" *ngIf="isAffiche">
        <div class="p-4">
          <h3><a href="index.html" class="titre">Espace Admin</a></h3>
          <ul class="list-unstyled components mb-5">
            <li [class.active]="isProfileActive">
              <a [routerLink]="['admin/profil']"
                ><span class="fa fa-user-circle-o mr-3"></span> Mon profil</a
              >
            </li>
            <li [class.active]="isServiceActive">
              <a [routerLink]="['/admin/services']"
                ><span class="fa fa-calendar mr-3"></span>Services</a
              >
            </li>
            <li [class.active]="isStatActive">
              <a [routerLink]="['/admin/statistiques']"
                ><span class="fa fa-line-chart mr-3"></span>Statistiques</a
              >
            </li>
            <li [class.active]="isEmployeeActive">
              <a [routerLink]="['admin/user']"
                ><span class="fa fa-users mr-3"></span>Gestion utilisateur</a
              >
            </li>
            <li [class.active]="isDepenseActive">
              <a [routerLink]="['/admin/depenses']"
                ><span class="fa fa-money mr-3"></span>Gestion dépenses</a
              >
            </li>
            <li>
              <button class="logout-button" (click)="logoutAdmin()">
                <span class="fa fa-sign-out mr-3"></span> Se déconnecter
              </button>
            </li>
          </ul>
          <div class="footer">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              <br />
              RATSIRESY Miora Fanantenana ANDRIAMITASOA Roussel Célestin
            </p>
          </div>
        </div>
      </nav>

      <nav id="sidebar" *ngIf="isClient">
        <div class="p-4">
          <h3><a href="index.html" class="titre">Espace client</a></h3>
          <ul class="list-unstyled components mb-5">
            <li [class.active]="isProfileActive">
              <a [routerLink]="['/client/profil']"
                ><span class="fa fa-user mr-3"></span> Mon profil</a
              >
            </li>
            <li [class.active]="isList">
              <a [routerLink]="['/client/list']"
                ><span class="fa fa-calendar fa-lg mr-3"></span>Rendez-vous</a
              >
            </li>
            <li>
              <button class="logout-button" (click)="logoutClient()">
                <span class="fa fa-sign-out mr-3"></span> Se déconnecter
              </button>
            </li>
          </ul>
          <div class="footer">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              <br />
              RATSIRESY Miora Fanantenana ANDRIAMITASOA Roussel Célestin
            </p>
          </div>
        </div>
      </nav>

      <nav id="sidebar" *ngIf="isEmploye">
        <div class="p-4">
          <h3><a href="index.html" class="titre">Mon espace employé</a></h3>
          <ul class="list-unstyled components mb-5">
            <li [class.active]="isProfileActive">
              <a [routerLink]="['/employe/profil']"
                ><span class="fa fa-user mr-3"></span> Mon profil</a
              >
            </li>
            <li [class.active]="isRdvActive">
              <a [routerLink]="['/employe/rdv']"
                ><span class="fa fa-calendar fa-lg mr-3"></span> Rendez-vous</a
              >
            </li>
            <li>
              <button class="logout-button" (click)="logoutEmploye()">
                <span class="fa fa-sign-out mr-3"></span> Se déconnecter
              </button>
            </li>
          </ul>
          <div class="footer">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              <br />
              RATSIRESY Miora Fanantenana ANDRIAMITASOA Roussel Célestin
            </p>
          </div>
        </div>
      </nav>

      <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <router-outlet></router-outlet>
      </div>
    </div>

    <script src="https://kanteco.com/M1/assets/js/jquery.min.js"></script>
    <script src="https://kanteco.com/M1/assets/js/popper.js"></script>
    <script src="https://kanteco.com/M1/assets/js/bootstrap.min.js"></script>
    <script src="https://kanteco.com/M1/assets/js/main.js"></script>
  </body>
</html>
