<!-- Formulaire d'ajout d'utilisateur -->
<form (ngSubmit)="saveUser()" class="container mb-3">
  <h2>Ajouter un utilisateur</h2>
  <div class="mb-3">
    <label for="nom" class="form-label">Nom :</label>
    <input
      type="text"
      class="form-control"
      id="nom"
      [(ngModel)]="newUser.nom"
      name="nom"
      placeholder="Entrez le nom"
      required
    />
  </div>
  <div class="mb-3">
    <label for="prenom" class="form-label">Prénom :</label>
    <input
      type="text"
      class="form-control"
      id="prenom"
      [(ngModel)]="newUser.prenom"
      name="prenom"
      placeholder="Entrez le prénom"
      required
    />
  </div>
  <div class="mb-3">
    <label for="mail" class="form-label">Email :</label>
    <input
      type="email"
      class="form-control"
      id="mail"
      [(ngModel)]="newUser.mail"
      name="mail"
      placeholder="Entrez l'email"
      required
    />
  </div>
  <div class="mb-3">
    <label for="mdp" class="form-label">Mot de passe :</label>
    <input
      type="password"
      class="form-control"
      id="mdp"
      [(ngModel)]="newUser.mdp"
      name="mdp"
      placeholder="Entrez le mot de passe"
      required
      minlength="8"
    />
  </div>
  <div class="mb-3">
    <label class="form-label">Rôle :</label>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="roleClient"
        [(ngModel)]="newUser.role"
        name="role"
        value="10"
        required
      />
      <label class="form-check-label" for="roleClient">Client</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="roleEmploye"
        [(ngModel)]="newUser.role"
        name="role"
        value="20"
      />
      <label class="form-check-label" for="roleEmploye">Employé</label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        id="roleManager"
        [(ngModel)]="newUser.role"
        name="role"
        value="30"
      />
      <label class="form-check-label" for="roleManager">Manager</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">
    <span class="fa fa-plus-circle me-1"></span>
    <!-- Loader -->
    <div *ngIf="isLoading" class="text-center mb-6">
      <div class="spinner-border text-primary" role="status"></div>
    </div>
    Ajouter
  </button>
  <button type="button" class="btn btn-secondary ms-2" (click)="onClose()">
    Annuler
  </button>
</form>

<div class="error">
  {{ error }}
</div>
