<h1 class="dialog-title">
  {{ data.isNew ? "Ajouter un service" : "Modifier le service" }}
</h1>
<div class="dialog-content">
  <div class="form-field">
    <label>Nom</label>
    <input [(ngModel)]="data.service.nom" class="form-control" />
  </div>
  <div class="form-field">
    <label>Prix</label>
    <input [(ngModel)]="data.service.prix" class="form-control" />
  </div>
  <div class="form-field">
    <label>Delai</label>
    <input [(ngModel)]="data.service.delai" class="form-control" />
  </div>
  <div class="form-field">
    <label>Commission</label>
    <input [(ngModel)]="data.service.commission" class="form-control" />
  </div>
  <div class="file-upload-section">
    <div
      class="dropzone"
      fileDragDrop
      (filesChangeEmiter)="onFilesChange($event)"
    >
      <div class="text-wrapper">
        <div class="centered">
          <input
            type="file"
            name="image"
            id="file"
            (change)="onFileInputChange($event)"
          />
          <label for="file"
            ><span class="textLink">Sélectionnez votre fichier</span> ou
            déposez-le ici !</label
          >
        </div>
      </div>
    </div>
    <hr />
    <h3 class="subheader">Fichiers</h3>
    <div *ngIf="selectedFile" class="row fileItem">
      <div class="col-sm-12 fileItemIconDiv">
        <i class="fa-6x fileItemIcon"></i>
      </div>
      <div class="col-sm-12 fileItemText">
        <span>{{ selectedFile.name }}</span>
      </div>
    </div>
  </div>
</div>
<div class="dialog-actions">
  <button (click)="onNoClick()" class="btn btn-secondary">Annuler</button>
  <button *ngIf="data.isNew" (click)="ajouterService()" class="btn btn-primary">
    Ajouter
  </button>
  <button
    *ngIf="!data.isNew"
    (click)="modifierService()"
    class="btn btn-primary"
  >
    Modifier
  </button>
</div>
