<h3> choisir son services</h3>
<select (change)="onSelectService($event)">
	<option> Choose a service</option>
	<option *ngFor="let item of services" [value]="item.id">
		{{ item.nom }}, dure: {{ item.delai }} mn, prix: {{ item.prix }}
	  </option>
	  <option value="16sddf"> test</option>
</select>
<p></p>




<input type="text" id="dtp" class="flatpickr-input" (ngModelChange)="onDateChange($event)" placeholder="Select Date">

<button (click)="onSubmitRdv()"> submit</button>

<h3> choisir son olona izay hikarakara azy </h3>
<select (change)="onSelectEmp($event)">
	<option> Choose a person</option>
	<option *ngFor="let emp of employes" [value]="emp.id">
		{{emp.nom}} {{emp.prenom}}
	</option>
</select>

<button (click)="onAdd()"> addRdv</button>


<h3> Offre special </h3>


<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">service</th>
			<th scope="col">date debut</th>
			<th scope="col">date fin</th>
			<th scope="col">Reduction</th>
		</tr>
	</thead>
	<tbody>
		@for (offre of offresSpec; track offre.reduction; let i = $index) {
			<tr>
				<th scope="row">{{ i + 1 }}</th>
				<td>{{getServiceName(offre.idService)}}</td>
				<td>					
					{{ offre.dateDebut }}
				</td>
				<td>{{ offre.dateFin  }}</td>
				<td>{{ offre.reduction  }} %</td>
			</tr>
		}
	</tbody>
</table>


<div>
	<h1>Historique</h1>
	<full-calendar [options]="calendarOptions" [deepChangeDetection]="true"></full-calendar>
</div>